@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    min-height: 100vh;
    color: white;
    background-color: #060411;
    font-family: "Fira Sans";
}

img {
    max-width: 100%;
    height: auto;
}
body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FF3366;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer {
    padding-bottom: 3%;
}

.fa-discord:hover {
    color: #5865f2;
    cursor: pointer;
}

.fa-youtube:hover {
    color: #ff0000;
    cursor: pointer;
}

.fa-github:hover {
    color: #f700ff;
    cursor: pointer;
}

.fa-paypal:hover {
    color: #c50031;
    cursor: pointer;
}

.tippy-box[data-theme~='github'] {
    background-color: #a500ce;
    color: #ffffff;
}

.tippy-box[data-theme~='discord']{
    background: #5865f2;
    color: #ffffff;
}

.tippy-box[data-theme~='youtube']{
    background: #ff0000;
    color: #ffffff;
}

.tippy-box[data-theme~='item']{
    background: #616161;
    color: #ffffff;
}

.tippy-box[data-theme~='github'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #ffffff;
    background-color: #000000;
    border-bottom-color: #ffffff;
}

/* PayPal tippy*/
.tippy-box[data-theme~='paypal'] {
    background-color: #c50031;
    color: #ffffff;
}

.tippy-box[data-theme~='paypal'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #003087;
    border-bottom-color: #003087;
}


@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 200px;
        top: 0px;
    }

    50% {
        left: 200px;
        top: 200px;
    }

    75% {
        left: 0px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

/* Responsive */
@media only screen and (min-width: 640px) {
    .padding {
        padding-left: 23%;
        padding-right: 23%;
    }

    .header {
        padding-top: 3%;
    }

    .ct {
        padding-top: 4%;
    }
}

@media only screen and (max-width: 640px) {
    .padding {
        padding-left: 3%;
        padding-right: 3%;
    }

    .header {
        padding-top: 7%;
    }

    .ct {
        padding-top: 8%;
    }
}

#parent {
    position: relative;
    top: 0;
    left: 0;
}

#showcase {
    z-index: 9;
    width: 200px;
    position: absolute;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, 0);
    margin-top: 330px;
    transition: all 0.6s ease-out;
}

/** portofolio stuff */

.container {
    max-width: 1000px;
    margin: auto;
    padding: 75px;
    text-align: center;
}

.container div {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center !important;
  }

  .container.blur {
    filter: blur(3px);
    /* */
    max-width: 1000px;
    margin: auto;
    padding: 75px;
    text-align: center;
  }

.filter-menu {
    margin-top: 29px;
}

.filter-menu div {
    display: inline-block;
    padding: 10px 28px;
    border-radius: 10px;
    border-spacing: 30px;
    background: #FF3366;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.filter-menu div:hover {
    background: #bb264b;
}
:root {
    --clr-neon: #FF3366;
    --clr-bg: rgb(255, 255, 255);
  }
  
.neon-button {
    font-size: 4rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  
.filter-item {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    place-items: center;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.filter-item div {
    width: 50%;
    padding: 15px;
}

.filter-item div.active {
    width: 50%;
    padding: 15px;
    transition: all 2s cubic-bezier(0, 1.3, 1, 0.37);
    float: left;
}

.filter-item div.delete {
    width: 0%;
    opacity: 0%;
    padding: 0;
    transition: all 2s cubic-bezier(0, 1.3, 1, 0.37);
}

.filter-item img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-top: 29px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    white-space: nowrap;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  #main {
    transition: margin-left .5s;
    padding: 16px;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }